
<!DOCTYPE html>
<html data-theme="dark">
<head>
    <title>managepro</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="font-montserrat">
    {% block content %}
    {% endblock %}
</body>
</html>
