{% extends "layout.html" %} {% block link %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block breadcrumb %}
<div class="breadcrumbs text-sm">
  <ul>
    <li>Dashboard</li>
  </ul>
</div>
{% endblock %}
{% block heading %}WELCOME TO DASHBOARD{% endblock %}
{% block content %}
<div class="grid grid-cols-2 gap-2 p-2">
  <div class="col-span-2 md:col-span-1 h-auto rounded-2xl p-2">
    <div class="grid grid-cols-3 gap-3">
      <div class="col-span-2 md:col-span-1 bg-base-300 h-auto rounded-2xl">
        <div class="stat">
          <div class="stat-title">Checking</div>
          <div class="stat-value text-xl">200</div>
          <div class="stat-desc">Today</div>
        </div>
      </div>
      <div class="col-span-2 md:col-span-1 bg-base-300 h-auto rounded-2xl">
        <div class="stat">
          <div class="stat-title">Pending</div>
          <div class="stat-value text-xl">89,400</div>
          <div class="stat-desc">21% more than last month</div>
        </div>
      </div>
      <div class="col-span-2 md:col-span-1 bg-base-300 h-auto rounded-2xl p-4">
        <select class="select select-ghost ">
          
          <option selected>Today</option>
          <option>Week</option>
          <option>Month</option>
        </select>
      </div>
      <div class="col-span-2 md:col-span-2 bg-base-300 h-auto rounded-2xl">
        <div class="stat">
          <div class="stat-title">Repairng</div>
          <div class="stat-value text-xl">89,400</div>
          <div class="stat-desc">21% more than last month</div>
        </div>
      </div>
      <div class="col-span-2 md:col-span-1 bg-base-300 h-auto rounded-2xl">
        <div class="stat">
          <div class="stat-title">Ready</div>
          <div class="stat-value text-xl">89,400</div>
          <div class="stat-desc">21% more than last month</div>
        </div>
      </div>
      <div class="col-span-2 md:col-span-1 bg-base-300 h-auto rounded-2xl">
        <div class="stat">
          <div class="stat-title">Reterun</div>
          <div class="stat-value text-xl">89,400</div>
          <div class="stat-desc">21% more than last month</div>
        </div>
      </div>
      <div class="col-span-2 md:col-span-2 bg-base-300 h-auto rounded-2xl">
        <div class="stat">
          <div class="stat-title">Recieved</div>
          <div class="stat-value text-xl">89,400</div>
          <div class="stat-desc">21% more than last month</div>
        </div>
      </div>
      <div class="col-span-2 md:col-span-2 bg-base-300 h-auto rounded-2xl">
        <div class="stat">
          <div class="stat-title">Called / SMS</div>
          <div class="stat-value text-xl">89,400</div>
          <div class="stat-desc">21% more than last month</div>
        </div>
      </div>
      <div class="col-span-2 md:col-span-1 bg-base-300 h-auto rounded-2xl">
        <div class="stat">
          <div class="stat-title">Total Page Views</div>
          <div class="stat-value text-xl">89,400</div>
          <div class="stat-desc">21% more than last month</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-2 md:col-span-1 bg-base-300 h-auto rounded-2xl p-4">
    <canvas id="polarChart" class="w-full h-96 mt-6"></canvas>

  </div>
  <!-- Full width bottom block <canvas id="polarChart" class="w-96 h-96"></canvas>-->
</div>

<!-- this section is for tables -->

<div class="grid grid-cols-8 gap-2 p-2">
  <div class='col-span-8 md:col-span-5 bg-base-300 h-auto rounded-2xl'>
    <div class="overflow-x-auto h-96">
      <h3 class='text-2xl font-bold p-2'>Recent items</h3>
      <table class="table table-xs table-zebra text-sm  table-pin-rows">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Contact 2</th>
            <th>Bagde</th>
            <th>Favorite Color</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Cy Ganderton</td>
            <td>Quality Control Specialist</td>
            <td>Littel, Schaden and Vandervort</td>
            <td>Canada</td>
            <td>12/16/2020</td>
            <td>Blue</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Hart Hagerty</td>
            <td>Desktop Support Technician</td>
            <td>Zemlak, Daniel and Leannon</td>
            <td>United States</td>
            <td>12/5/2020</td>
            <td>Purple</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Brice Swyre</td>
            <td>Tax Accountant</td>
            <td>Carroll Group</td>
            <td>China</td>
            <td>8/15/2020</td>
            <td>Red</td>
          </tr>
          <tr>
            <th>4</th>
            <td>Marjy Ferencz</td>
            <td>Office Assistant I</td>
            <td>Rowe-Schoen</td>
            <td>Russia</td>
            <td>3/25/2021</td>
            <td>Crimson</td>
          </tr>
          <tr>
            <th>5</th>
            <td>Yancy Tear</td>
            <td>Community Outreach Specialist</td>
            <td>Wyman-Ledner</td>
            <td>Brazil</td>
            <td>5/22/2020</td>
            <td>Indigo</td>
          </tr>
          <tr>
            <th>6</th>
            <td>Irma Vasilik</td>
            <td>Editor</td>
            <td>Wiza, Bins and Emard</td>
            <td>Venezuela</td>
            <td>12/8/2020</td>
            <td>Purple</td>
          </tr>
          <tr>
            <th>7</th>
            <td>Meghann Durtnal</td>
            <td>Staff Accountant IV</td>
            <td>Schuster-Schimmel</td>
            <td>Philippines</td>
            <td>2/17/2021</td>
            <td>Yellow</td>
          </tr>
          <tr>
            <th>8</th>
            <td>Sammy Seston</td>
            <td>Accountant I</td>
            <td>O'Hara, Welch and Keebler</td>
            <td>Indonesia</td>
            <td>5/23/2020</td>
            <td>Crimson</td>
          </tr>
          <tr>
            <th>9</th>
            <td>Lesya Tinham</td>
            <td>Safety Technician IV</td>
            <td>Turner-Kuhlman</td>
            <td>Philippines</td>
            <td>2/21/2021</td>
            <td>Maroon</td>
          </tr>
          <tr>
            <th>10</th>
            <td>Zaneta Tewkesbury</td>
            <td>VP Marketing</td>
            <td>Sauer LLC</td>
            <td>Chad</td>
            <td>6/23/2020</td>
            <td>Green</td>
          </tr>
          <tr>
            <th>11</th>
            <td>Andy Tipple</td>
            <td>Librarian</td>
            <td>Hilpert Group</td>
            <td>Poland</td>
            <td>7/9/2020</td>
            <td>Indigo</td>
          </tr>
          <tr>
            <th>12</th>
            <td>Sophi Biles</td>
            <td>Recruiting Manager</td>
            <td>Gutmann Inc</td>
            <td>Indonesia</td>
            <td>2/12/2021</td>
            <td>Maroon</td>
          </tr>
          <tr>
            <th>13</th>
            <td>Florida Garces</td>
            <td>Web Developer IV</td>
            <td>Gaylord, Pacocha and Baumbach</td>
            <td>Poland</td>
            <td>5/31/2020</td>
            <td>Purple</td>
          </tr>
          <tr>
            <th>14</th>
            <td>Maribeth Popping</td>
            <td>Analyst Programmer</td>
            <td>Deckow-Pouros</td>
            <td>Portugal</td>
            <td>4/27/2021</td>
            <td>Aquamarine</td>
          </tr>
          <tr>
            <th>15</th>
            <td>Moritz Dryburgh</td>
            <td>Dental Hygienist</td>
            <td>Schiller, Cole and Hackett</td>
            <td>Sri Lanka</td>
            <td>8/8/2020</td>
            <td>Crimson</td>
          </tr>
          <tr>
            <th>16</th>
            <td>Reid Semiras</td>
            <td>Teacher</td>
            <td>Sporer, Sipes and Rogahn</td>
            <td>Poland</td>
            <td>7/30/2020</td>
            <td>Green</td>
          </tr>
          <tr>
            <th>17</th>
            <td>Alec Lethby</td>
            <td>Teacher</td>
            <td>Reichel, Glover and Hamill</td>
            <td>China</td>
            <td>2/28/2021</td>
            <td>Khaki</td>
          </tr>
          <tr>
            <th>18</th>
            <td>Aland Wilber</td>
            <td>Quality Control Specialist</td>
            <td>Kshlerin, Rogahn and Swaniawski</td>
            <td>Czech Republic</td>
            <td>9/29/2020</td>
            <td>Purple</td>
          </tr>
          <tr>
            <th>19</th>
            <td>Teddie Duerden</td>
            <td>Staff Accountant III</td>
            <td>Pouros, Ullrich and Windler</td>
            <td>France</td>
            <td>10/27/2020</td>
            <td>Aquamarine</td>
          </tr>
          <tr>
            <th>20</th>
            <td>Lorelei Blackstone</td>
            <td>Data Coordiator</td>
            <td>Witting, Kutch and Greenfelder</td>
            <td>Kazakhstan</td>
            <td>6/3/2020</td>
            <td>Red</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Job</th>
            <th>company</th>
            <th>location</th>
            <th>Last Login</th>
            <th>Favorite Color</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class='col-span-8 md:col-span-3 bg-base-300 h-auto rounded-2xl'>
    <div class="overflow-x-auto">
      <div class='flex justify-between'>
        <h3 class='text-2xl font-bold p-2'>Recent activities</h3>
        <div class='p-4'>
          <select class="select select-ghost select-sm w-[50%] ">
            <option selected>Today</option>
            <option>Week</option>
            <option>Month</option>
            
          </select>
        </div>
        
      </div>
      
      <table class="table table-sm table-zebra text-sm table-pin-rows">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>User</th>
            <th>Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr>
            <th>1</th>
            <td>Cy Ganderton</td>
            <td>Quality Control Specialist</td>
            <td>Blue</td>
          </tr>
          <!-- row 2 -->
          <tr>
            <th>2</th>
            <td>Hart Hagerty</td>
            <td>Desktop Support Technician</td>
            <td>Purple</td>
          </tr>
          <!-- row 3 -->
          <tr>
            <th>3</th>
            <td>Brice Swyre</td>
            <td>Tax Accountant</td>
            <td>Red</td>
          </tr>
          <tr>
            <th>4</th>
            <td>Brice Swyre</td>
            <td>Tax Accountant</td>
            <td>Red</td>
          </tr>
          <tr>
            <th>5</th>
            <td>Brice Swyre</td>
            <td>Tax Accountant</td>
            <td>Red</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class='grid grid-cols-8 gap-2 p-2'>
  <div class="col-span-3 rounded-xl  p-2 bg-base-300 overflow-y-auto">
    
    
    
  </div>


  
  <div class="col-span-5 rounded-xl bg-base-300 p-2 h-64 overflow-y-auto ">
    <h3 class='text-2xl font-bold p-2'>Recent Massages</h3>
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <th>Name</th>
            <th>Item Id</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img
                      src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                      alt="Avatar Tailwind CSS Component" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">Hart Hagerty</div>
                  <div class="text-sm opacity-50">United States</div>
                </div>
              </div>
            </td>
            <td>
              Zemlak, Daniel and Leannon
              <br />
              <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
            </td>
            <td>Purple</td>
            <th>
              <button class="btn btn-ghost btn-xs">details</button>
            </th>
          </tr>
          <!-- row 2 -->
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img
                      src="https://img.daisyui.com/images/profile/demo/3@94.webp"
                      alt="Avatar Tailwind CSS Component" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">Brice Swyre</div>
                  <div class="text-sm opacity-50">China</div>
                </div>
              </div>
            </td>
            <td>
              Carroll Group
              <br />
              <span class="badge badge-ghost badge-sm">Tax Accountant</span>
            </td>
            <td>Red</td>
            <th>
              <button class="btn btn-ghost btn-xs">details</button>
            </th>
          </tr>
          <!-- row 3 -->
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img
                      src="https://img.daisyui.com/images/profile/demo/4@94.webp"
                      alt="Avatar Tailwind CSS Component" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">Marjy Ferencz</div>
                  <div class="text-sm opacity-50">Russia</div>
                </div>
              </div>
            </td>
            <td>
              Rowe-Schoen
              <br />
              <span class="badge badge-ghost badge-sm">Office Assistant I</span>
            </td>
            <td>Crimson</td>
            <th>
              <button class="btn btn-ghost btn-xs">details</button>
            </th>
          </tr>
          <!-- row 4 -->
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img
                      src="https://img.daisyui.com/images/profile/demo/5@94.webp"
                      alt="Avatar Tailwind CSS Component" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">Yancy Tear</div>
                  <div class="text-sm opacity-50">Brazil</div>
                </div>
              </div>
            </td>
            <td>
              Wyman-Ledner
              <br />
              <span class="badge badge-ghost badge-sm">Community Outreach Specialist</span>
            </td>
            <td>Indigo</td>
            <th>
              <button class="btn btn-ghost btn-xs">details</button>
            </th>
          </tr>
        </tbody>
        <!-- foot -->
        <tfoot>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Job</th>
            <th>Favorite Color</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
</div>



{% endblock %} {% block script %}
<script>
  const ctx = document.getElementById("polarChart").getContext("2d");

  new Chart(ctx, {
    type: "polarArea",
    data: {
      labels: [
        "Marketing",
        "Sales",
        "Development",
        "HR",
        "Support",
        "Operations",
        "Finance",
        "Research",
      ],
      datasets: [
        {
          label: "Department Performance",
          data: [12, 19, 14, 9, 6, 11, 17, 8],
          backgroundColor: [
            "#f87171",
            "#facc15",
            "#34d399",
            "#60a5fa",
            "#c084fc",
            "#fb923c",
            "#a3e635",
            "#f472b6",
          ],
          borderColor: '#fff',
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          position: "top",
        },
      },
    },
  });
</script>
{% endblock %}
